APP_NAME=MVBotsHub
MOONSHINE_TITLE="MV Bots Hub"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Almaty
MOONSHINE_DOMAIN=mv-bots-hub.test
APP_URL="https://${MOONSHINE_DOMAIN}"

APP_LOCALE=ru
APP_FALLBACK_LOCALE=ru
APP_FAKER_LOCALE=ru_RU

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=mv-bots-hub
DB_USERNAME=root
DB_PASSWORD=
DB_SCHEMA=public

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_SECURE_COOKIE=true
SESSION_DOMAIN="${MOONSHINE_DOMAIN}"
SESSION_SAME_SITE=strict

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

REDIS_DB=0                 # общий кэш (default)
REDIS_CACHE_DB=1           # cache store
REDIS_QUEUE_DB=2           # очереди (Horizon)
REDIS_QUEUE_CONNECTION=queue

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME="${APP_NAME}"
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

AUTH_PASSWORD_TIMEOUT=10800
AUTH_PASSWORD_EXPIRY=90
DEBUGBAR_ENABLED=false

# Rate limiting под рассылки
TELEGRAM_BROADCAST_RATE_PER_SECOND=25
TELEGRAM_API_TIMEOUT=10
TELEGRAM_MAX_CONNECTIONS=40

HORIZON_NAME=telegram_bots_horizon
HORIZON_DOMAIN="${MOONSHINE_DOMAIN}"
HORIZON_PREFIX=bot_admin_horizon:

AUTH_SUPER_ADMIN_PASSWORD="password"

TELEGRAPH_BOT_TOKEN=ignored # Telegraph берёт из БД
SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1
