@import 'tailwindcss';
/*@import '@fortawesome/fontawesome-free/css/all.css';*/

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../../app/**/*.php";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

#page-loader {
    position: fixed;
    inset: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    transition: opacity .2s;
}

#page-loader.hidden {
    opacity: 0;
    pointer-events: none;
}

:root:not(.dark) {
    --ms-layout-page-bg-color: #ffffff !important;
    /* если хотите просто поменять сам base, а не только фон страницы: */
    /* --color-base: oklch(1 0 0); */
}

:root:not(.dark) .menu-submenu {
    background: #ffffff;
}

:root:not(.dark) .menu-button._is-active {
    border: 1px solid var(--color-base-stroke);
    background: #ffffff;
}

.layout-metrics:empty,
.layout-metrics:not(:has(> *)) {
    display: none;
}

@media (width >= 1024px) {
    .layout-menu._is-minimized .menu-text {
        display: none;
    }
}

.menu-logo img.block {
    height: auto !important;
}

.layout-menu-horizontal .menu-button {
    font-size: 1.1rem;
    margin-bottom: 5px;
    margin-top: 5px;
}

.layout-menu-horizontal .menu-button .menu-icon .icon-wrapper {
    width: calc(0.25rem * 6);
    height: calc(0.25rem * 6);
}

.form .box {
    background: var(--color-body);
}

.form-group.moonshine-field .table-responsive {
    border-radius: var(--ms-form-default-radius);
    border: var(--ms-form-default-border-width) solid var(--ms-form-default-border-color);
}

.table-list thead {
    background-color: var(--color-body);
}
